# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual environment
# ===============================
venv/
.env

# ===============================
# Runtime folder for symbols json file
# ===============================
runtime/

# ===============================
# OS / IDE
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===============================
# Logs / runtime artifacts
# ===============================
*.log
logs/

# ===============================
# Data / artifacts (se presenti)
# ===============================
*.csv
*.parquet
